/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 600px;
  height: 450px;

}
/* The reset goes all the way up here <--*/ 


/*Adding two new fonts -->*/
  @font-face {
  font-family: princess;
  src: url(./fonts/PrincessSofia.ttf);
  font-weight: bold;
}
  @font-face {
  font-family: tuesday;
  src: url(./fonts/LemonTuesday.otf);
  font-weight: bold;
}


/*Adding background image with darker tone */
.main{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)),url(./img/wolf1.jpg);
  background-size: cover; /* Resize the background image to cover the entire window */
  background-position: auto;
  height: 100vh;


}

.main-header{
  position: fixed;
  width: 100%;
  z-index: 99;
  height: 3.75rem; 
  background-color: #1B2631;
  border-bottom: 1px #2E4053 solid;
  box-sizing: border-box;
}

.main-h1{
  /*color: #1B1464;*/
  color:white;
  font-size: 3.125rem;
  font-weight: 800;
  letter-spacing: 0.5rem;
  font-family: Century Gothic;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;


}

label.label-top{
  font-family: tuesday;
  line-height: 3.75rem;
  font-size: 1.875rem;
  color: #BA4A00;
  letter-spacing: 0.25rem;
  padding: 0 1.25rem;
  box-sizing: border-box;
}

nav{
  position: fixed;
  width: 100%;
  top:0;
}

nav ul{
  float: right;
  padding-right: 1.25rem;
}

nav ul li{
  display: inline-block;
  letter-spacing: 3px;
  font-size: 0.875rem;
  line-height: 3.75rem;
  margin: 0 3px;

}

nav ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 0.75rem;
  border:2px solid #BA4A00;
  border-radius: 4px;

}


/*Responsive navbar starts here --> */

nav a:hover{
  background-color: #BA4A00;
  color: #fff;
  transition: 0.5s;
}

nav a:active{
  color:#000;
}

.checkbtn{
  font-size: 1.875rem;
  color: #BA4A00;
  float: right;
  line-height: 4.0625rem;
  margin-right: 2.5rem;
  cursor: pointer;
  display: none;
}

#check{
  display:none;
}

@media (max-width: 59.5rem){
  label.label-top{
    font-size: 1.875rem;
    padding-left: 3.75;

  }
  nav ul li a{
    font-size: 1rem;
  }
}

@media (max-width: 50rem){
  .checkbtn{
    display: block;
  }

  ul{
    position: fixed;
    width: 100%;
    height: 46vh;
    background-color: #2c3e50;
    top: 4rem;
    left: -200%;
    text-align: center;
    transition: all 0.5s;
    
  }

  nav ul li{
    display: block;
    margin: 3.125rem 0;
    line-height: .01rem;
  }
  nav ul li a{
    font-size: 1.25rem;
    border:none;
    border-radius: 2px;

  }
  a:hover{
    background-color: #BA4A00;
    color: #fff;
    transition: 0.5s;
  }
  a.active{
    color:#000;
  }

  #check:checked ~ ul{
    left: 0;
  }
}


/* Learn More button --> */
.button {
  display: inline-block;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.25rem;
}

.btn{
  text-decoration: none;
  border:3px solid #BA4A00;
  padding: 0.625rem 1.5625rem;
  color: #fff;
  border-radius: 1.875rem;
  letter-spacing: 1px;
}

.button a:hover{
  background-color: #BA4A00;
  color: #fff;
  transition: 0.6s;
} /* Learn more button ends here <-- */


/*Search box starts here <-- */
.search-box{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #BA4A00;
  height: 40px;
  border-radius: 40px;
  padding:10px;
  }

  .search-box:hover > .search-txt{
    width:10rem;
    padding: 0 6px;
  }

.search-btn{
    color: #fff;
    float: right;
    width:40px;
    height: 40px;
    border-radius: 50%;
    background: #BA4A00;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .search-txt{
    border:none;
    background:none;
    outline: none;
    float:left;
    padding: 0;
    color: #fff;
    font-size: 1rem;
    transition:0.4s;
    line-height: 2.5rem;
    width: 0;
  } /*Search box ends here <-- */


/* Copyright */
.copy {
  position: absolute;
  color: #fff;
  font-size: 0.6875rem;
  bottom: 8px;
  left: 10px;
}


/* Contact Page starts here --> */
.contact-body{
  background-color: #1B2631;
  background-repeat: no-repeat;
}